<div>
    <h1> Esto es el dashb. de ADMIN  (sin datos sensibles)</h1>
    <p>Hola,{{user.name}}</p>
  
    <p>Se podian hacer un CRUD completo . </p>

    <br>

    <p> Profile-dashBoard: <a href="/users">Ingresa</a></p>
    <p> <a href="/api/sessions/logout">Logout</a></p>
    
</div>

 <script src="/js/admin.js"></script> 
 {{!-- no lo tengo creado el js de admin --}}